/** general styling **/

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
.t-cleara:after,.t-clearb:before{
	content: "";
	display: block;
	clear: both;
}

/** controls styling **/
.main-application-controls{
	position: absolute;
}
.main-application-workarea{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}