.controls-menu{
	width: 300px;
	height: 100%;
	border-right: 1px solid black;
	box-shadow: 0 0 5px black;
}
.controls-menu.left{
	float: left;
}
.controls-menu.right{
	float: right;
}
.controls-menu .basic{
	width: 100%;
	height: 40px;
	line-height: 30px;
}
.controls-menu .basic .position{
	height: 30px;
	float: left;
	padding: 5px;
	cursor: pointer;
}
.controls-menu .basic .position .move:hover{
	text-decoration: underline;
}
.controls-menu .basic .position .move{
	display: inline-block;
}
.controls-menu .basic .closing{
	height: 30px;
	float: right;
	padding: 5px;
	cursor: pointer;
}
.controls-menu .basic .closing:hover{
	text-decoration: underline;
}
.first-group{
	width: 100%;
}
.first-group .namer{
	margin: 5px 0;
	padding: 3px;
	border: 1px solid black;
	border-left: 0;
	border-right: 0;
	text-transform: uppercase;
}
.first-group .caller{
	width: 100%;
}
.first-group .caller .caller-el{
	text-indent: 10px;
	cursor: pointer;
}
.first-group .caller .caller-el:hover,.first-group .caller .caller-el.o{
	text-decoration: underline;
}
.first-group .caller .caller-el-type{
	display: none;
}
.first-group .caller .caller-el-type.o{
	display: block;
}
.first-group .caller .caller-el-type .caller-el-type-el{
	text-indent: 20px;
}
.first-group .caller .caller-el-type .caller-el-type-el:hover{
	text-decoration: underline;
}