<button class="btn dropdown-toggle sr-only" type="button" data-toggle="dropdown">
  Dropdown
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<!--  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Select</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Change</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove</a></li>
  <li role="presentation" class="divider"></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Configure Template</a></li>-->
</ul>