.list-popup{
	position: absolute;
	display: block;
	margin-bottom: 5px;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	min-width: 100px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}
.list-popup li{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
}
.list-popup li:hover{
	background-color: #ddd;
}

/**
Animation controls
**/
.list-popup{
	display: none;
}