<ul class="nav nav-tabs menu-styles-nav">
  <li><a href="#" class="menu-controls-tab-attributes">Attributes</a></li>
  <li class="active"><a href="#" class="menu-controls-tab-styles">Styles</a></li>
</ul>
<form class="form-inline" role="form">
	<% _.each(styleList, function(item, key) { %>
	  <div class="form-group form-padding">
		  <label><%=item.title%></label><br>
		  <input type="text" value="<%=item.style_value%>" data-id="<%=item.design_style_id%>" class="form-control menu-attributes-form-item" placeholder="Enter <%=item.title%>">
	  </div>
	<% }); %>
	<div  class="form-padding">
		<button type="button" class="btn btn-default menu-styles-form-apply">Apply</button>
		<button type="button" class="btn btn-default menu-styles-form-back">Back</button>
		<button type="button" class="btn btn-default menu-styles-form-save">Save</button>
	</div>
</form>