<div class="menu-container-controls t-cleara left">
	<div class="btn-group menu-container-buttons" data-toggle="buttons">
	  <label class="btn btn-primary js-menu-button-bind-left">
		<input type="radio" name="options"> Left
	  </label>
	  <label class="btn btn-primary js-menu-button-bind-right active">
		<input type="radio" name="options"> Right
	  </label>
	</div>
	<button type="button" class="btn btn-primary menu-container-close">
	  Close
	</button>
</div>
<div class="page-header">
	<h4 class="menu-container-title-container"><span class="menu-container-title">Tree View</span></h4>
</div>
<div class="menu-controls-selection">
	<div class="panel-group tree-all-elements">
		
	</div>
	
</div>